.app-body-menu {
    margin: 0 auto;
    display: inline-flex;
    text-align: center;
    height: 50px;
}
.app-body-active {
    font-weight: bold;
    background-color: whitesmoke;
}

.body-temporizador{
    font-size: 75px;
    margin:0 auto;
}