<div class="row">
  <div class="col-sm-10 app-body-menu">
      <div class="col-sm-3"><a (click)="pomodoro()" href="javascript:void(0)">Pomodoro </a> </div>
      <div class="col-sm-6"><a (click)="grandeIntervalo()" href="javascript:void(0)">Intervalo grande</a></div>
      <div class="col-sm-3"><a (click)="pequenoIntervalo()" href="javascript:void(0)">Intervalo pequeno</a></div>
  </div>  
</div>

<div class="row">
    <div class="body-temporizador">
        <p class="">
            {{minutos}}:{{segundos}}
        </p>
    </div>
</div>

<div class="row">
        <div style="margin: 0 auto;">
            <div class="col-sm-12">
                <button (click)='cronometro()'>start</button>
                <button (click)='parar()'>stop</button>
                <button (click)='resetar()'>reset</button>
            </div>
        </div>
    </div>
